@font-face {
  font-family: "icomoon";
  src: url("../src/assets/icomoon/icomoon.eot?z6kdb6");
  src: url("../src/assets/icomoon/icomoon.eot?z6kdb6#iefix")
      format("embedded-opentype"),
    url("../src/assets/icomoon/icomoon.ttf?z6kdb6") format("truetype"),
    url("../src/assets/icomoon/icomoon.woff?z6kdb6") format("woff"),
    url("../src/assets/icomoon/icomoon.svg?z6kdb6#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change ../src/assets/icomoon */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  color: rgba(255, 255, 255, 0.55);
}
.icon-linkedIn:before {
  content: "\e901";
  color: rgba(255, 255, 255, 0.55);
}
.icon-twitter:before {
  content: "\e902";
  color: rgba(255, 255, 255, 0.55);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gothic A1", sans-serif;
}

p {
  margin: 0px !important;
}

.container {
  max-width: 1366px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.headerRow {
  align-items: center;
  padding: 81px 0px;
}

.header {
  background-color: #ebf7fd;
}

.mask-text h1 {
  font-family: "Gothic A1", sans-serif;
  font-size: 68px;
  font-weight: 800;
  line-height: 100px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #2f485c;
}

.mask-text-img {
  margin-left: 25px;
  background-image: url(./assets/maskTextImage.png);
  background-size: contain;
  background-position: center;
  -webkit-background-clip: text;
}

.ml {
  margin-left: 49px;
}

.formRow {
  justify-content: center;
}

.form-container h2 {
  margin-top: 80px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  color: #33396b;
}

.form-container .form-control {
  padding: 20px 30px;
  margin-top: 24px;
}

.form-section {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(235, 247, 253, 0.7) 30.73%,
    rgba(255, 255, 255, 0.7) 100%
  );
  background-blend-mode: multiply;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.checkboxes .input-group-text {
  background: none;
  border: none;
  padding: 0px 8px 0px 0px;
  display: inline-block;
}

.position-relative {
  position: relative;
}

.add-file {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e5e5e4;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px 32px;
  max-width: 161px;
  cursor: pointer;
}

.add-file p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 500;
  color: #637381;
  margin: 0px 0px 0px 16px;
}

.btn-submit {
  background: #ffcf00 !important;
  border: 1px solid #ffcf00 !important;
  box-sizing: border-box !important;
  box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1) !important;
  border-radius: 6px !important;
  padding: 20px 60px !important;
  font-family: "Gothic A1" !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 15px !important;
  line-height: 19px !important;
  color: #33396b !important;
}

.btn-clear {
  color: #00b7ff !important;
  font-family: "Gothic A1" !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 15px !important;
  line-height: 19px !important;
  background: transparent !important;
  border: none !important;
  margin-left: 205px !important;
}

.footer {
  background: #2f485c;
  padding: 55px 0 50px 0;
}

.description p {
  font-family: "Gothic A1", sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
}

.mt {
  margin-top: 20px !important;
}

.head {
  font-family: "Gothic A1", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.55);
}

.text {
  font-family: "Gothic A1", sans-serif;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-top: 13px !important;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-center p {
  font-family: "Gothic A1", sans-serif;
  font-size: 12px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.55);
}

.mt-44 {
  margin-top: 44px;
}

.link {
  text-decoration: none;
  margin-right: 32px;
}

.address {
  font-family: "Gothic A1", sans-serif;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 9px !important;
}

.ml-16 {
  margin-left: 16px;
}

.polygonImg {
  position: absolute;
  left: 0;
  top: 16%;
}

.polygonImgRight {
  position: absolute;
  right: 0;
  bottom: 10%;
}